// Bootstrap
@import '~bootstrap/scss/bootstrap';

container_main {
    /*clase para la caja global => header(cabecera) + nav (menú de navegacin) + main(Cuerpo ppal)
   footer (pie de la página) */
    @extend  .container_fluid !optional;
    @extend .d-flex !optional;
; /*establecemos diseño flexible para su contenido*/
    @extend    .flex-column !optional;
; /*sus elementos en columna*/
    @extend .pt-3 !optional;
; /*padding */
    border: #1f6fb2 1px;
    background: #c6c8ca;
    height: 100vh;
    @extend .vh-100 !optional; /*Altura igual al view port*/
    @extend  .justify-content-center !optional;
}

header { /*clase para la cabecer (logo+titulo+menú conexión o info usuario conectao)*/

    background: rgb(51, 51, 51);
    height: 15%;

    @extend .d-flex !optional;;/*diseño flexible*/
    @extend .flex-row !optional;;/*Contenido en fila*/
    @extend .justify-content-between !optional;

    /* distribución de elementos */


}

nav {
    height: 10%;
    background: rgb(225, 225, 225);


}

main {
    height: 65%;
    background: white;
    border: black 1px;


}

footer {
    height: 10%;
    background: rgb(51, 51, 51);
    border: black 1px;


}


